<div>
    <form method='post' action='/'>
        <p>Name:</p>
        <input type='text' name='name'>
        <br/><br/>
        
        <button type='submit'>Submit</button>
    </form>

    <div name="output"></div>

</div>